$green: #319f01;
$black: #000;
$red: #e1322d;
$white: #fff;
$gray: #6c6c6c;
$darkGreen: #298601;
$lightGreen: #3bbb03;
$beige: #f2efed;
$lightGray: #f0f0f0;
$opacityGray: rgba(#979797, 0.6);
$darkBlue: #2e363e;
$inputLightGray: #7a7a7a;
$checkboxLightGray: #7e868e;
$reviewBorder: #cecece;

$headerMobileWidth: 1273px;
$headerMobileHeight1: 439px;
$headerMobileHeight2: 366px;
$cityModalwidth: 500px;

$bannerDesktopWidth: 550px;
$bannerAdaptiveWidth1: 1513px;
$bannerAdaptiveWidth2: 670px;
$bannerAdaptiveWidth3: 1901px;
$bannerAdaptiveWidth4: 648px;

$AdvantagesAdaptiveSmallMobileWidth: 310px;
$AdvantagesAdaptiveDesktopWidth: 400px;

$CatalogAdaptiveWidth: 600px;
$modalPreviewWidth: 1000px;
$modalPreviewWidth2: 490px;

$advantages2AdaptiveWidth: 1259px;

$videoDesktopWidth: 1280px;

$calculationAdaptiveWidth: 480px;
$calculationAdaptiveWidth2: 1050px;

$partnersAdaptiveWidth: 950px;

$reviewsAdaptiveWidth: 950px;

$footerAdaptiveWidth: 600px;
$footerAdaptiveWidth2: 975px;

%anchor {
  color: $black;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  cursor: pointer;

  &::after {
    background-color: $black;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width 0.4s ease-in-out;
    -moz--transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
    transition: 0.4s ease-in-out;
  }

  &:active {
    color: $gray;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    cursor: auto;

    &::after {
      display: none;
      transition: 0.4s ease-in-out;
    }
  }
}

%boxShadowHeader {
  box-shadow: 0px 4px 8px rgba(79, 79, 79, 0.14);
}

%boxShadowCatalog {
  box-shadow: 0px 4.90486px 11.0359px rgba(0, 0, 0, 0.15);
}

// %montserratBold {

// }
